.navbar{
  background-color:antiquewhite;
  justify-content: flex-start;
}

.btn{
  margin-left: 10px;
}

.login-page{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 91vh;
}

.form-box{
  border: 2px solid black;
  border-radius: 20px;
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;

}

form * {
  margin: 10px;
}


.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registration-page{
  text-align: center;
}

.admin-dashboard-page{
  text-align: center;
}

.logout-div{
  display: flex;
  justify-content: flex-end;
}

.checkbox-container{
  border: 1px solid black;
  width: 80%;
}

.checkbox-container * {
  margin: 10px;
}
